node_modules
Library/
.CFUserTextEncoding
.DS_Store
.adobe/
.bash_history
.bash_profile
.bash_sessions/
.cache/
.config/
.cups/
.docker/
.dropbox/
.gitconfig
.lesshst
.npm/
.pgadmin/
.psql_history
.ssh/
.viminfo
.vscode/
.zprofile
.zshrc
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Movies/
Music/
Pictures/
Public/
Sites/
